.toolbar-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  width: 100%;
  height: calc(100vh - 64px);
  // border: 1px solid rgba(0, 0, 0, 0.5);

  .sidenav {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 16px 20px;
    border-radius: 0;
    // box-shadow: 1px 0 10px -8px;
    box-shadow: 1px 0 8px rgba(0, 0, 0, 0.1);
    min-width: 220px;

    a {
      border-radius: 8px;
      margin-bottom: 4px;
      padding: 8px 12px;

      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: rgba(25, 118, 210, 0.1);
      }

      &.active {
        background-color: rgba(25, 118, 210, 0.2); // active highlight
        font-weight: 600;

        mat-icon {
          color: #3f51b5;
        }
      }

      mat-icon {
        margin-right: 12px;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  mat-sidenav-content {
    padding: 16px;
    background-color: #fdfdfd;
  }
}

