.modal-wrapper {
    padding: 20px 30px 20px 30px;

    h2[mat-dialog-title] {
        font-size: 20px;
        font-weight: 600;
    }

    mat-form-field {
        width: 100%;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    [mat-dialog-actions] {
        padding-top: 16px;
        margin-top: 8px;
        display: flex;
        justify-content: flex-end;
        gap: 8px;

        button {
            min-width: 88px;
        }
    }
}