.main-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 130px);
  padding: 16px;
  gap: 16px;

  .spacer {
    height: 36px;
  }

  .filter-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  .table-wrapper {
    height: 90%;
    overflow-y: auto;
    background-color: white;
    border-radius: 12px;
  }

  .mat-mdc-header-row {
    background-color: #f5f5f5;
    z-index: 10;
  }

  .mat-mdc-header-cell {
    font-weight: 600;
  }

  .mat-mdc-row:hover {
    background-color: rgba(0, 0, 0, 0.01);
  }

  .mat-column-actions, .mat-mdc-column-actions, .action {
    width: 9rem;
    max-width: 9rem;
  }

  .ip {
    font-family: monospace;
  }

  .comment {
    color: rgba(0, 0, 0, 0.6);
  }
  
  mat-paginator {
    border-radius: 12px;
  }
}
